@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins:wght@400;700&family=Sacramento&display=swap");

:root {
  /* Font  Family */
  --font-poppins: "Poppins";
  --font-barlow: "Barlow";
  --font-sacramento: "Sacramento";

  /* Font Color */
  --color-first: #fffffff6;
  --color-second: red;

  /* Font Size */
  --text-xlarge: 100px;
  --text-large: 50px;
  --text-medium: 40px;
  --text-small: 15px;
  --text-regular: 13px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Box Shadow */
  --box-shadow-main: 0px 15px 30px rgba(26, 37, 14, 0.1);

  /* Border Radius */
  --border-radius: 5px;

  /* Transition */
  --animate: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-size: var(--text-regular);
}
